In [11]:
import pandas as pd
import numpy as np 
from scipy.sparse import csr_matrix
import sklearn
from sklearn.decomposition import truncatedSVD

ImportError: cannot import name 'truncatedSVD'

In [13]:
classes=pd.read_csv('/Users/nadiam/Desktop/Final_Project/CSV/class_info.csv', sep=',', error_bad_lines= False)
classes.head()

,class_id,class_code,class_title,type,year,link
0,1,E1008,INTRO TO MACHINING,1,1,http://www.columbia.edu/cu/bulletin/uwb/subj/M...
1,2,E3028,MECHANICAL ENGINEERING LAB II,8,3,http://www.columbia.edu/cu/bulletin/uwb/subj/M...
2,3,E3105,MECHANICS,1,2,http://www.columbia.edu/cu/bulletin/uwb/subj/E...
3,4,E3311,HEAT TRANSFER,7,3,http://www.columbia.edu/cu/bulletin/uwb/subj/M...
4,5,E3408,COMPUTER GRAPHICS &amp; DESIGN,1,2,http://www.columbia.edu/cu/bulletin/uwb/subj/M...

In [14]:
ratings=pd.read_csv('/Users/nadiam/Desktop/Final_Project/CSV/userrating_info.csv')
ratings.head()

   user_id  class_id  rating
0        1        17       5
1        2         1       2
2        3        40       4
3        4        34       1
4        5        31       3

In [15]:
users=pd.read_csv('/Users/nadiam/Desktop/Final_Project/CSV/user_info.csv', sep=',', error_bad_lines= False)
users.head()

   user_id  year_id  type
0        1        2     5
1        2        3     1
2        3        3     5
3        4        1     6
4        5        1     4

In [19]:
combined_class_rating = pd.merge(ratings,classes, on="class_id")
combined_class_rating.head()

,user_id,class_id,rating,class_code,class_title,type,year,link
0,1,17,5,E4302,ADVANCED THERMODYNAMICS,2,4,http://www.columbia.edu/cu/bulletin/uwb/subj/M...
1,8,17,2,E4302,ADVANCED THERMODYNAMICS,2,4,http://www.columbia.edu/cu/bulletin/uwb/subj/M...
2,20,17,2,E4302,ADVANCED THERMODYNAMICS,2,4,http://www.columbia.edu/cu/bulletin/uwb/subj/M...
3,66,17,5,E4302,ADVANCED THERMODYNAMICS,2,4,http://www.columbia.edu/cu/bulletin/uwb/subj/M...
4,130,17,5,E4302,ADVANCED THERMODYNAMICS,2,4,http://www.columbia.edu/cu/bulletin/uwb/subj/M...

In [27]:
class_ratingcount=(combined_class_rating
                   .groupby(by=['class_title'])['rating'].
                    count().reset_index().
                    rename(columns={'rating':'totalrating'})
                    [['class_title','totalrating']]
                           )
class_ratingcount.head()

                                class_title  totalrating
0                    ADVANCED HEAT TRANSFER           22
1                 ADVANCED MACHINE DYNAMICS           22
2                   ADVANCED THERMODYNAMICS           31
3                APPLIED SIGNAL RECOGNITION           23
4  Advanced Kinematics, Dynamics, and Contr           27

In [33]:
rating_total=combined_class_rating.merge(class_ratingcount, left_on='class_title', right_on="class_title")
rating_total.head()

,user_id,class_id,rating,class_code,class_title,type,year,link,totalrating
0,1,17,5,E4302,ADVANCED THERMODYNAMICS,2,4,http://www.columbia.edu/cu/bulletin/uwb/subj/M...,31
1,8,17,2,E4302,ADVANCED THERMODYNAMICS,2,4,http://www.columbia.edu/cu/bulletin/uwb/subj/M...,31
2,20,17,2,E4302,ADVANCED THERMODYNAMICS,2,4,http://www.columbia.edu/cu/bulletin/uwb/subj/M...,31
3,66,17,5,E4302,ADVANCED THERMODYNAMICS,2,4,http://www.columbia.edu/cu/bulletin/uwb/subj/M...,31
4,130,17,5,E4302,ADVANCED THERMODYNAMICS,2,4,http://www.columbia.edu/cu/bulletin/uwb/subj/M...,31

In [29]:
print(class_ratingcount['totalrating'].describe())

count    40.000000
mean     25.000000
std       6.271629
min      15.000000
25%      22.000000
50%      24.500000
75%      28.250000
max      45.000000
Name: totalrating, dtype: float64

In [31]:
print(class_ratingcount['totalrating'].quantile(np.arange(.9,1,0.01)))

0.90    32.10
0.91    32.49
0.92    32.88
0.93    33.27
0.94    33.66
0.95    34.05
0.96    34.44
0.97    34.83
0.98    37.20
0.99    41.10
Name: totalrating, dtype: float64

In [34]:
popularity_threshold= 25
rating_popularclass= rating_total.query('totalrating >= @popularity_threshold')
rating_popularclass.head()

,user_id,class_id,rating,class_code,class_title,type,year,link,totalrating
0,1,17,5,E4302,ADVANCED THERMODYNAMICS,2,4,http://www.columbia.edu/cu/bulletin/uwb/subj/M...,31
1,8,17,2,E4302,ADVANCED THERMODYNAMICS,2,4,http://www.columbia.edu/cu/bulletin/uwb/subj/M...,31
2,20,17,2,E4302,ADVANCED THERMODYNAMICS,2,4,http://www.columbia.edu/cu/bulletin/uwb/subj/M...,31
3,66,17,5,E4302,ADVANCED THERMODYNAMICS,2,4,http://www.columbia.edu/cu/bulletin/uwb/subj/M...,31
4,130,17,5,E4302,ADVANCED THERMODYNAMICS,2,4,http://www.columbia.edu/cu/bulletin/uwb/subj/M...,31